@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f3f3;
  --foreground: #333;

  .dark {
    --background: #333;
    --foreground: #f3f3f3;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-jetbrains-mono), var(--font-noto-emoji), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
